html,
body,
#root {
  height: 100%;
}

body,
#root {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

@media (max-width: 640px) {
  .sm-menu {
    flex-direction: column !important;
  }
}

.height-70 {
  max-height: 70vh;
}
@media (max-width: 640px) {
  .height-70 {
    max-height: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;